* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('./Cartoon_green_texture_grass.jpg');
	background-size: contain;
}
.start {
	position: absolute;
	z-index: 2;
	font-size: 1.6rem;
}
.control-panel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 500px;
	padding: 0 5% 0 5%;
}
.points,
.time {
	font-size: 1.6rem;
	height: 10vh;
	line-height: 10vh;
	font-weight: 900;
	background-color: transparent;
}
.reset {
	font-size: 0.8rem;
}
.reset,
.start,
.close {
	border: none;
	cursor: pointer;
	padding: 0.5rem 1.4rem;
	text-transform: uppercase;
	background-color: rgb(6, 91, 18);
	color: #ddd;
	border-radius: 25px;
	transition: background-color 0.3s;
}
.reset:hover,
.start:hover {
	background-color: rgb(10, 171, 32);
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	max-width: 500px;
	height: 80vh;
	margin: auto auto;
	background-color: transparent;
}

.item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 30%;
	background-image: url('./molemount.png');
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: transparent;
}

.mole {
	width: 90%;
	height: 100%;
	cursor: pointer;
	background-image: url('./mole.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 10% 50%;
}

.score-panel {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	position: absolute;
	top: 25%;
	width: 80%;
	max-width: 700px;
	height: 50vh;
	padding: 0 2rem 0 2rem;
	background-color: rgb(49, 127, 49);
	border-radius: 50px;
	z-index: 3;
}
.txt {
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: uppercase;
	color: rgb(22, 22, 22);
}
.close {
	align-self: center;
	background-color: rgb(199, 51, 51);
}
.close:hover {
	background-color: rgb(236, 48, 48);
}
.none {
	display: none;
}

.block {
	display: block;
}
.flex {
	display: flex;
}
@media (min-width: 576px) {
	.item {
		height: 140px;
	}
	.txt {
		font-size: 2.4rem;
	}
	.close {
		font-size: 1.2rem;
	}
}
@media (min-width: 768px) {
	.txt {
		font-size: 3rem;
	}
	.close {
		font-size: 1.8rem;
		padding: 0.8rem 2rem;
	}
}
@media (min-width: 1900px) {
	.txt {
		font-size: 3.2rem;
	}
	.close {
		font-size: 2rem;
	}
}
