* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('./Cartoon_green_texture_grass.jpg');
	background-size: contain;
}
.points {
	font-size: 2.4rem;
	height: 10vh;
	line-height: 10vh;
	font-weight: 900;
	background-color: transparent;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	max-width: 500px;
	height: 90vh;
	margin: auto auto;
	background-color: transparent;
}

.item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15%;
	width: 30%;
	background-image: url('./molemount.png');
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: transparent;
}

.mole {
	position: absolute;
	top: -5%;
	width: 90%;
	height: 100%;
	cursor: pointer;
	background: url('./mole.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 10% 50%;
}

.none {
	display: none;
}

.block {
	display: block;
}

@media (min-width: 576px) {
	.mole {
		top: -15%;
	}
}
@media (min-width: 576px) {
	.mole {
		top: 0;
	}
}
@media (min-width: 1900px) {
	.mole {
		top: -5%;
	}
}
